<div class="app-wrapper">
  <app-side-bar></app-side-bar>
  <div class="main-content">
    <app-header></app-header>

    <div class="container">
      <h1>Popular Albums</h1>
      <div class="row">
        <ul>
          <li class="list-item">
            <app-musics-card></app-musics-card>
          </li>
          <li class="list-item">
            <app-musics-card></app-musics-card>
          </li>
          <li class="list-item">
            <app-musics-card></app-musics-card>
          </li>
          <li><app-play-bar></app-play-bar></li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
