.app-wrapper {
  display: flex;
  height: 100vh;
}

app-side-bar {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #0b0f2b, #010101); // opcional
}

.container {
  flex: 1;
  padding-top: 28px;
  /* Remova o max-width, max-height e margin-left */
}

ul {
  padding-top: 12px;
  list-style-type: none;
}

ul > li {
    display: inline-block;
    padding-right: 30px;
    /* You can also add some margins here to make it look prettier */
}