<div class="app-wrapper">
  <app-side-bar></app-side-bar>
  <div class="main-content">
    <app-header></app-header>

    <div class="container">
      <h1>Popular Albums</h1>
      <div class="row">
        <ul>
          <li class="list-item">
            <app-musics-card></app-musics-card>
          </li>
          <li class="list-item">
            <app-musics-card></app-musics-card>
          </li>
          <li class="list-item">
            <app-musics-card></app-musics-card>
          </li>
          <li><app-play-bar></app-play-bar></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="app-wrapper">
  <main class="main-content">
    <aside class="sidebar">
      <input class="search" type="text" placeholder="Pesquise algo" />
    </aside>
    <section class="artists-section">
      <h2>Artistas Populares</h2>
      <div class="artists-list">
        <div class="artist-card">
          <img src="artista1.jpg" alt="Artista 1" />
          <span>Dj Ryan027</span>
        </div>
        <div class="artist-card">
          <img src="linkinpark.jpg" alt="Linkin Park" />
          <span>Linkinpark</span>
        </div>
        <div class="artist-card">
          <img src="eminem.jpg" alt="Eminem" />
          <span>Eminem</span>
        </div>
      </div>
    </section>
    <section class="queue-section">
      <h2>Próximos na fila</h2>
      <div class="queue-list">
        <div class="queue-item active">
          <span class="icon-heart">&#10084;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
        <div class="queue-item">
          <span class="icon-heart">&#9825;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
        <div class="queue-item">
          <span class="icon-heart">&#9825;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
        <div class="queue-item">
          <span class="icon-heart">&#9825;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
      </div>
    </section>
  </main>
</div>