.card {
  background-color: #1a1a1a;
  border-radius: 8px;
  color: #ffffff;
}
.card-body {
  display: flex;
  flex-direction: column;
}

.card-body button,
.card-body a.btn {
  align-self: flex-end;
}

:host {
  display: block;
  min-height: 150px;
  width: 100%;
}
