# Cache do Angular
.angular/
.angular/cache/
.angular/cache/**

# Build
dist/
out-tsc/
build/
tmp/

# Node modules
node_modules/

# Logs
*.log

# Ambiente
.env
.env.*.local

# IDEs e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testes
coverage/
