<div class="player">
  <div class="left">
    <img src="/assets/images/musics_cover/star_boy.png" class="cover" alt="Cover" />
    <div class="song-info">
      <div class="song-title">Tropa do Ryan</div>
      <div class="artist">
        Dj Ryan027
        <span style="margin-left: 8px; font-size: 1.1em; cursor: pointer"
          ><img src="../../../assets/icons/play-bar-heart.svg" alt=""
        /></span>
      </div>
    </div>
  </div>

  <div class="center">
    <div class="progress-container">
      <label class="slider-time">
        <input
          type="range"
        />
      </label>
      <div class="time">
        <span
          >/</span
        >
      </div>
    </div>
    <div class="controls">
      <button class="control-btn" title="Random">
        <span aria-hidden="true"><img src="../../../assets/icons/random.svg" alt="" /></span>
      </button>
      <button class="control-btn" title="Previous">
        <span aria-hidden="true"><img src="../../../assets/icons/previous.svg" alt="" /></span>
      </button>
      <button class="control-btn" title="Play/Pause">
        <span class="material-icons">{{ 'play_arrow' }}</span>
      </button>
      <button class="control-btn" title="Next">
        <span aria-hidden="true"><img src="../../../assets/icons/next.svg" alt="" /></span>
      </button>
      <button class="control-btn" title="Repeat">
        <span aria-hidden="true"><img src="../../../assets/icons/replay.svg" alt="" /></span>
      </button>
    </div>
  </div>

  <div class="right">
    <span class="volume-icon"><img src="../../../assets/icons/volume-icon-low.svg" alt="" /></span>
    <label class="slider-volume">
      <input
        id="volume"
        type="range"
        min="0"
        max="1"
        step="0.01"
      />
    </label>
    <span class="volume-icon"><img src="../../../assets/icons/volume-icon-high.svg" alt="" /></span>
  </div>
</div>
