<div class="playlist1">
    <div class="app-wrapper">
  <app-side-bar></app-side-bar>
  <div class="main-content">
    <app-header></app-header>

    <div class="container">

      <div class="card-playlist">
        <img src="/assets/images/musics_cover/star_boy.png" class="card-img-top" alt="...">
        <div class="card-body-playlist">
          <h1>Nome da playlist</h1>
          <div class="info-row-playlist">
            <span class="faixa-title-playlist">## Músicas</span>
            <span class="dot-playlist">•</span>
            <span class="likes-playlist">## Likes</span>
          </div>
        </div>
      </div>
      <div class="row">
        <section class="queue-section">
      <h2>Músicas</h2>
      <div class="queue-list">
        <div class="queue-item active">
          <span>1</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-year">2025</span>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
      </div>
    </section>
      </div>
    </div>
  </div>
  <div class="app-wrapper">
  <main class="main-content">
    <aside class="sidebar">
      <input class="search" type="text" placeholder="Pesquise algo" />
    </aside>
    <section class="queue-section">
      <h2>Próximos na fila</h2>
      <div class="queue-list">
        <div class="queue-item active">
          <span class="icon-heart">&#10084;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
        <div class="queue-item">
          <span class="icon-heart">&#9825;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
        <div class="queue-item">
          <span class="icon-heart">&#9825;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
        <div class="queue-item">
          <span class="icon-heart">&#9825;</span>
          <img src="artista1.jpg" alt="Dj Ryan027" />
          <div class="music-info">
            <span class="music-title">So as melhores</span>
            <span class="music-artist">Dj Ryan027</span>
          </div>
          <span class="music-time">04:32</span>
          <span class="icon-close">&#10006;</span>
        </div>
      </div>
    </section>
    <app-play-bar></app-play-bar>
  </main>
</div>

</div>
